<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetBer">
        <activity
            android:name=".ui.activity.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ViewFollowersPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SetLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RecentDeletedPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewPostSavedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PetProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewFollowsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MediaViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view_story.ViewStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VerifyEmailSuccessActivity"
            android:exported="true">
            <intent-filter android:label="filter_verify_email">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="verify-email-success"
                    android:scheme="petber" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.forgot_pw.ForgotPwActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateEditPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MediaPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MediaPickerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateEditPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="petber.vercel.app"
                    android:pathPrefix="/post"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.deeplink.DeepLinkActivity"
            android:exported="true">

            <!-- intent-filter 1: Web link https -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="project-ilyyx.vercel.app"
                    android:pathPrefix="/post/"
                    android:scheme="https" />
            </intent-filter>

            <!-- intent-filter 2: Custom scheme petber:// -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="post"
                    android:scheme="petber" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>